.FinalPage {
  font-size: 1rem;
  display: block;
  text-align: center;
  width: 100%;
}

.FinalPage .Button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  display: block;
  margin: 1rem auto;
  width: 70%;
  color: var(--yellow-primary);
  background-color: black;
  border-radius: 5px;
}

.FinalPage img {
  width: 40%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.Icon-Box {
  margin: 20px 10px;
  display: inline-block;
}

.FacebookIcon {
  height: 2rem;
  width: 2rem;
  margin-right: 10px;
  fill: var(--facebook-color);
}

.WhatsappIcon {
  height: 2rem;
  width: 2rem;
  margin-right: 10px;
  fill: var(--whatsapp-color);
}

.TwitterIcon {
  height: 2rem;
  width: 2rem;
  margin-right: 10px;
  fill: var(--twitter-color);
}

.FinalPage .contacts {
  display: flex;
  flex-direction: column;
}