.Councilors {
  font-size: 1rem;
  width: 80%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .Councilors {
    width: 100%;
  }
}

.Councilors-Table {
  width: 100%;
}


.Councilors-Table tr, td{
  border: 1px solid #D5D8DC;
}

.Councilors-Table table{
  display: block;
  width: 60%;
}

.Table-Head {
  font-weight: bold;
}

.Councilors-Table .Table-Head tr th{
  font-weight: bold;
  line-height: 50px;
  border: 1px solid #D5D8DC;
}

.Councilors-Table tr td p {
  margin-top: 10px;
}


.Icon {
  margin: 0 5px;
}

.FaceSmile {
  color: green;
}

.FaceSadCry {
  color: red;
}

.FaceNotAnswered {
  color: #8B8000;
}
