:root {
  --yellow-primary: #ebb703;
  /* --yellow-primary: rgb(125, 77, 3); */
  --grey-ligth: #F8F8F8;
  --white-color: #fff; 
  --black-color: #000;
  --facebook-color: rgba(66, 133, 244, 0.6);
  --whatsapp-color: #25D366;
  --twitter-color: #1DA1F2;
}