.title {
  color: var(--primary-color);
  font-size: 3rem;
}

.sub-title {
  color: var(--yellow-primary);
  font-size: 1.5rem;
  text-align: center;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: black;
  font-size: 1rem;
  padding: 5px 0;
  ;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: bold;
}