.Layout {
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: var(--grey-ligth);
  border-radius: 5px;
}

@media (max-width: 600px) {
  .Layout {
    margin: 0.5rem 0rem;  }
}

.Layout .Mob-Container {
  display: flex;
  flex-wrap: wrap;
}

.Layout .Video-Container {
  /* width: 90%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
