.CallToAction {
  margin: 1rem;
  padding: 1rem;
  width: 37%;
  min-width: 300px;
  background-color: var(--white-color);
  box-shadow: 4px 4px 2px 1px rgba(235, 183, 3, 0.2);
}

@media (max-width: 900px) {
  .CallToAction {
    margin: 1rem auto;
    width: 100%;
  }
}

.Head {
  font-size: 2rem;
  font-weight: bold;
  color: var(--yellow-primary);
  text-align: center;
}

.Text {
  margin: 1rem 0;
  font-size: 1rem;
  text-align: justify;
}

.Input {
  display: block;
  margin: 0.5rem auto;
  height: 2rem;
  width: 90%;
  border: none;
  border-bottom: 1px solid var(--yellow-primary);
}

.Input::placeholder{
  font-size: 1rem;
}

.TextArea {
  display: block;
  padding: 0.5rem;
  width: 95%;
  height: 20rem;
  margin: 0.5rem auto;
  border: 1px solid var(--yellow-primary);  

}

.CallToAction .ErrorMessage {
  margin-left: 1rem;
  color: red;
}

.Button {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  display: block;
  margin: 1rem auto;
  width: 70%;
  color: var(--yellow-primary);
  background-color: black;
  border-radius: 5px;
}

.SignaturesNumber {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--yellow-primary);
  text-align: center;
}

