.MobText {
  margin: 1rem;
  padding: 1rem;
  width: 55%;
  min-width: 300px;
  background-color: var(--white-color);
  border: 1px solid #D5D8DC;
  /* box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5); */
  box-shadow: 4px 4px 2px 1px rgba(235, 183, 3, 0.2);
  border-radius: 5px;
  font-size: 1rem;
  text-align: justify;
}

@media (max-width: 900px) {
  .MobText {
    margin: 1rem auto;
    width: 100%;
  }
}

.MobText .emphasis {
  margin: 1rem;
  font-size: 1.5rem;
}

.MobText p {
  margin-bottom: 10px;
}
