.Signatures {
  font-size: 1rem;
  width: 80%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .Signatures {
    width: 100%;
  }
}

.Signatures-Table {
  width: 100%;
}


.Signatures-Table tr, td{
  border: 1px solid #D5D8DC;
}

.Signatures-Table table{
  display: block;
  width: 60%;
}

.Table-Head {
  font-weight: bold;
}
