.Footer {
  display: block;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem;
  background-color: white;
  color: var(--yellow-primary);
}

.Footer img{
  width: 15%;
}

.Footer a{
  color: var(--yellow-primary);
  text-decoration: none;
}

.Footer li {
  color: black;
  list-style: none;
}