.Photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.Photo img{
  width: 90%;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
}

.Photo p{
  text-align: center;
  margin-top: 10px;
}