@import "./commonstyles/typografy.css";
@import "./commonstyles/colors.css";
@import "./commonstyles/general.css";

/* Reset the standards */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

body {
  font-weight: 500;
  font-size: 68%; /* 10 pixels */
  color: rgb(21, 21, 21);
}